cluster:
  cluster:
    enablePDB: false
    imageName: docker.io
      {.repository.ghcr}>/cloudnative-pg/postgresql:16.2
    initdb:
      database: dso-console-db
      owner: dso
    monitoring:
      enabled: false
    postgresql:
      parameters:
        max_worker_processes: '60'
      pg_hba:
      - host dso-console-db dso all md5
      - host dso-console-db streaming_replica all md5
    primaryUpdateMethod: restart
    storage:
      size: 10Gi
  fullnameOverride: pg-cluster-console
  nameOverride: pg-cluster-console
console:
  client:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: sandbox-dso-console
                app.kubernetes.io/name: conf-dso-cpn-console-client
            topologyKey: kubernetes.io/hostname
          weight: 100
    autoscaling:
      enabled: false
      maxReplicas: 3
      minReplicas: 1
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80
    container:
      port: 8080
    healthcheckPath: /
    image:
      repository: docker.io
        {.repository.ghcr}>/cloud-pi-native/console/client
    livenessProbe:
      enabled: true
      failureThreshold: 3
      initialDelaySeconds: 30
      periodSeconds: 30
      successThreshold: 1
      timeoutSeconds: 5
    readinessProbe:
      enabled: true
      failureThreshold: 2
      initialDelaySeconds: 15
      periodSeconds: 10
      successThreshold: 2
      timeoutSeconds: 5
    replicaCount: 1
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 128Mi
    service:
      port: 80
      type: ClusterIP
    startupProbe:
      enabled: true
      failureThreshold: 10
      initialDelaySeconds: 0
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 5
    strategy:
      type: RollingUpdate
  config:
    create: true
    name: dso-config
    projectsRootDir: forge
    secrets:
      ARGOCD_INTERNAL_URL: http://conf-dso-argocd-server.dso-argocd.svc.cluster.local
      ARGOCD_URL: https://docker.io/
      ARGO_NAMESPACE: dso-argocd
      GITLAB_INTERNAL_URL: http://gitlab-webservice-default.dso-gitlab.svc.cluster.local:8181/
      GITLAB_TOKEN: docker.io
      GITLAB_URL: https://docker.io/
      HARBOR_ADMIN: admin
      HARBOR_ADMIN_PASSWORD: docker.io
      HARBOR_INTERNAL_URL: http://harbor-core.dso-harbor.svc.cluster.local/
      HARBOR_RULE_COUNT: '100'
      HARBOR_URL: https://docker.io/
      KEYCLOAK_ADMIN: dsoadmin
      KEYCLOAK_ADMIN_PASSWORD: docker.io
      KEYCLOAK_URL: http://keycloak.dso-keycloak.svc.cluster.local/realms/dso/.well-known/openid-configuration
      NEXUS_ADMIN: admin
      NEXUS_ADMIN_PASSWORD: docker.io
      NEXUS_INTERNAL_URL: http://nexus.dso-nexus.svc.cluster.local:8081/
      NEXUS_URL: https://docker.io/
      SONARQUBE_INTERNAL_URL: http://sonarqube-sonarqube.dso-sonarqube.svc.cluster.local:9000/
      SONARQUBE_URL: https://docker.io/
      SONAR_API_TOKEN: docker.io
      VAULT_INTERNAL_URL: http://conf-dso-vault-active.dso-vault.svc.cluster.local:8200/
      VAULT_TOKEN: docker.io
      VAULT_URL: https://docker.io/
  fullnameOverride: dso-cpn-console
  global:
    env:
      NODE_ENV: production
    keycloak:
      clientIds:
        backend: console-backend
        frontend: console-frontend
      clientSecrets:
        backend: docker.io
      devRealm: false
      domain:
        backend: keycloak.dso-keycloak.svc.cluster.local
        frontend: docker.io
      protocol:
        backend: http
        frontend: https
      realm: dso
      redirectUri: https://docker.io
      sessionSecret: a-very-strong-secret-with-more-than-32-char
    postgresql:
      cnpgSecretName: pg-cluster-console-app
  ingress:
    annotations:
      route.openshift.io/termination: edge
    className: traefik
    enabled: true
    hosts:
    - docker.io
    labels: {}
  nameOverride: conf-dso-cpn-console
  postgres:
    image:
      registry: docker.io
        {.repository.ghcr}>
      repository: postgres:15.3
  postgresql:
    architecture: standalone
    enabled: false
    nameOverride: cpn-console-db
  server:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: sandbox-dso-console
                app.kubernetes.io/name: conf-dso-cpn-console-server
            topologyKey: kubernetes.io/hostname
          weight: 100
    autoscaling:
      enabled: false
      maxReplicas: 3
      minReplicas: 1
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80
    container:
      port: 8080
    disabledPlugins: ''
    envFrom:
    - secretRef:
        name: dso-config
    extraCa:
      key: ''
      mountSubPath: ca_certs
      name: ''
    healthcheckPath: /api/v1/healthz
    image:
      repository: docker.io
        {.repository.ghcr}>/cloud-pi-native/console/server
    livenessProbe:
      enabled: true
      failureThreshold: 3
      initialDelaySeconds: 30
      periodSeconds: 30
      successThreshold: 1
      timeoutSeconds: 5
    readinessProbe:
      enabled: true
      failureThreshold: 2
      initialDelaySeconds: 15
      periodSeconds: 10
      successThreshold: 2
      timeoutSeconds: 5
    replicaCount: 1
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 128Mi
    service:
      port: 80
      type: ClusterIP
    serviceAccount:
      create: true
      name: cpn-console-server
    startupProbe:
      enabled: true
      failureThreshold: 10
      initialDelaySeconds: 0
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 5
    strategy:
      type: RollingUpdate
