cluster:
  cluster:
    enablePDB: false
    imageName: ghcr.io/cloudnative-pg/postgresql:16.2
    instances: 1
    initdb:
      database: keycloak
      owner: keycloak
    monitoring:
      enabled: false
    postgresql:
      parameters:
        max_worker_processes: '60'
      pg_hba:
      - host keycloak keycloak all md5
      - host keycloak streaming_replica all md5
    primaryUpdateMethod: restart
    storage:
      size: 10Gi
  fullnameOverride: pg-cluster-keycloak
  nameOverride: pg-cluster-keycloak

cpn-ansible-job:
  global:
    platform: kubernetes
  job:
    command:
    - /bin/sh
    - -c
    - echo "Keycloak users configuration job"
    extraEnvFrom:
    - configMapRef:
        name: keycloak-users
    extraVolumeMounts:
    - mountPath: /data
      name: users-csv
      readOnly: true
    extraVolumes:
    - configMap:
        name: keycloak-users
      name: users-csv
    image:
      repository: ghcr.io/cloud-pi-native/git-ansible
      tag: '1'

keycloak:
  auth:
    adminUser: admin
    existingSecret: keycloak
    passwordSecretKey: admin-password
  
  replicaCount: 1
  
  image:
    registry: quay.io
    repository: keycloak/keycloak
    tag: "22.0.5"
    pullPolicy: IfNotPresent
  
  production: false
  
  proxy: edge
  
  httpRelativePath: /
  
  extraEnvVars:
  - name: KC_DB
    value: postgres
  - name: KC_HOSTNAME
    value: keycloak.polyops.fr
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_PROXY
    value: edge
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KEYCLOAK_PRODUCTION
    value: "false"
  
  externalDatabase:
    host: pg-cluster-keycloak-rw
    port: 5432
    database: keycloak
    existingSecret: pg-cluster-keycloak-app
    existingSecretUserKey: username
    existingSecretPasswordKey: password
  
  postgresql:
    enabled: false
  
  service:
    type: ClusterIP
    ports:
      http: 8080
  
  ingress:
    enabled: false
  
  resources:
    limits:
      memory: 2048Mi
    requests:
      memory: 1024Mi
  
  livenessProbe:
    enabled: true
    initialDelaySeconds: 300
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 3
    successThreshold: 1
  
  containerSecurityContext:
    enabled: false
  
  podSecurityContext:
    enabled: false
  
  rbac:
    create: false
  
  serviceAccount:
    create: true
  
  metrics:
    enabled: false
  
  keycloakConfigCli:
    enabled: false
