cluster:
  cluster:
    enablePDB: false
    imageName: ghcr.io/cloudnative-pg/postgresql:16.2
    instances: 1
    initdb:
      database: keycloak
      owner: keycloak
    monitoring:
      enabled: false
    postgresql:
      parameters:
        max_worker_processes: '60'
      pg_hba:
      - host keycloak keycloak all md5
      - host keycloak streaming_replica all md5
    primaryUpdateMethod: restart
    storage:
      size: 10Gi
  fullnameOverride: pg-cluster-keycloak
  nameOverride: pg-cluster-keycloak
cpn-ansible-job:
  global:
    platform: openshift
  job:
    command:
    - /bin/sh
    - -c
    - 'git clone https://github.com/cloud-pi-native/socle.git && \

      cd socle && \

      ansible-playbook post-install/keycloak.yaml

      '
    extraEnvFrom:
    - secretRef:
        name: ansible-secret
    extraVolumeMounts:
    - mountPath: /config
      name: users-csv
      readOnly: true
    extraVolumes:
    - configMap:
        name: keycloak-users
      name: users-csv
    image:
      repository: ghcr.io/cloud-pi-native/git-ansible
      tag: '1'
keycloak:
  auth:
    adminUser: admin
    existingSecret: keycloak
    passwordSecretKey: admin-password
  autoscaling:
    enabled: false
  cache:
    enabled: true
    stackFile: ''
    stackName: kubernetes
  args:
    - start-dev
  configuration: ''
  containerPorts:
    http: 8080
    https: 8443
    infinispan: 7800
  containerSecurityContext:
    enabled: false
  existingConfigmap: ''
  externalDatabase:
    database: keycloak
    existingSecret: pg-cluster-keycloak-app
    existingSecretPasswordKey: password
    existingSecretUserKey: username
    host: pg-cluster-keycloak-rw
    port: 5432
  extraEnvVars:
  - name: KC_DB
    value: postgres
  - name: KC_OPTIMIZED
    value: "false"
  - name: KC_LOG_LEVEL
    value: DEBUG
  - name: KC_HOSTNAME
    value: keycloak.polyops.fr
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_PROXY_HEADERS
    value: xforwarded
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_BOOTSTRAP_ADMIN_USERNAME
    value: admin
  - name: KC_HTTP_RELATIVE_PATH
    value: /
  - name: KEYCLOAK_PRODUCTION
    value: "false"
  - name: DSFR_THEME_HOME_URL
    value: https://keycloak.polyops.fr
  - name: DSFR_THEME_SERVICE_TITLE
    value: Cloud Pi Native
  - name: DSFR_THEME_BRAND_TOP
    value: Ministere<br/>de l'interieur
  - name: DSFR_THEME_CONTACT_EMAIL
    value: cloudpinative-relations@interieur.gouv.fr
  extraEnvVarsCM: ''
  extraEnvVarsSecret: ''
  extraStartupArgs: '--optimized'
  fullnameOverride: keycloak
  global:
    security:
      allowInsecureImages: true
  httpRelativePath: /
  image:
    pullPolicy: IfNotPresent
    registry: docker.io
    repository: bitnamilegacy/keycloak
  ingress:
    annotations:
      route.openshift.io/termination: edge
    apiVersion: ''
    enabled: true
    extraHosts: []
    extraPaths:
    - backend:
        service:
          name: forbidden
          port:
            name: http
      path: /admin/
      pathType: Prefix
    - backend:
        service:
          name: forbidden
          port:
            name: http
      path: /realms/master/
      pathType: Prefix
    extraRules: []
    hostname: keycloak.polyops.fr
    ingressClassName: traefik
    labels:
      app: keycloak
    path: /
    pathType: Prefix
    secrets: []
    selfSigned: false
    servicePort: http
    tls: true
  initContainers:
  - args:
    - -c
    - 'mkdir -p /emptydir/app-providers-dir && chmod 777 /emptydir/app-providers-dir && touch /emptydir/app-providers-dir/keycloak-theme-dsfr.jar && touch /emptydir/app-providers-dir/keycloak-franceconnect.jar'
    command:
    - sh
    image: docker.io/curlimages/curl:8.12.1
    imagePullPolicy: IfNotPresent
    name: realm-ext-provider
    securityContext:
      runAsUser: 0
    volumeMounts:
    - mountPath: /emptydir
      name: empty-dir
  initdbScriptsConfigMap: ''
  keycloakConfigCli:
    enabled: false
  livenessProbe:
    enabled: true
    failureThreshold: 3
    initialDelaySeconds: 300
    periodSeconds: 1
    successThreshold: 1
    timeoutSeconds: 5
  logging:
    level: INFO
    output: default
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false
  networkPolicy:
    additionalRules: {}
    allowExternal: true
    enabled: false
  pdb:
    create: false
  podAntiAffinityPreset: soft
  podSecurityContext:
    enabled: false
  postgresql:
    enabled: false
  production: false
  proxyHeaders: xforwarded
  rbac:
    create: false
    rules: []
  readinessProbe:
    enabled: true
    failureThreshold: 3
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1
  replicaCount: 1
  resources:
    limits:
      memory: 2048Mi
    requests:
      memory: 1024Mi
  service:
    annotations: null
    clusterIP: ''
    externalTrafficPolicy: Cluster
    extraHeadlessPorts: []
    extraPorts: []
    headless:
      annotations: null
      extraPorts: []
    http:
      enabled: true
    loadBalancerIP: ''
    loadBalancerSourceRanges: []
    nodePorts:
      http: ''
      https: ''
    ports:
      http: 80
      https: 443
    sessionAffinity: None
    sessionAffinityConfig: null
    type: ClusterIP
  serviceAccount:
    annotations: null
    automountServiceAccountToken: true
    create: true
    extraLabels: null
    name: ''
  startupProbe:
    enabled: false
    failureThreshold: 60
    initialDelaySeconds: 30
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 1
  tls:
    enabled: false
