cluster:
  cluster:
    enablePDB: false
    imageName: ghcr.io/cloudnative-pg/postgresql:16.2
    instances: 1
    initdb:
      database: keycloak
      owner: keycloak
    monitoring:
      enabled: false
    postgresql:
      parameters:
        max_worker_processes: '60'
      pg_hba:
      - host keycloak keycloak all md5
      - host keycloak streaming_replica all md5
    primaryUpdateMethod: restart
    storage:
      size: 10Gi
  fullnameOverride: pg-cluster-keycloak
  nameOverride: pg-cluster-keycloak

cpn-ansible-job:
  global:
    platform: kubernetes
  job:
    command:
    - /bin/sh
    - -c
    - echo "Keycloak users configuration job"
    extraEnvFrom:
    - configMapRef:
        name: keycloak-users
    extraVolumeMounts:
    - mountPath: /data
      name: users-csv
      readOnly: true
    extraVolumes:
    - configMap:
        name: keycloak-users
      name: users-csv
    image:
      repository: ghcr.io/cloud-pi-native/git-ansible
      tag: '1'

keycloak:
  replicas: 1
  
  image:
    repository: quay.io/keycloak/keycloak
    tag: "26.0.7"
    pullPolicy: IfNotPresent
  
  command:
    - "/opt/keycloak/bin/kc.sh"
  
  args:
    - "start"
    - "--optimized"
  
  extraEnv: |
    - name: KC_DB
      value: postgres
    - name: KC_DB_URL_HOST
      value: pg-cluster-keycloak-rw
    - name: KC_DB_URL_DATABASE
      value: keycloak
    - name: KC_DB_USERNAME
      valueFrom:
        secretKeyRef:
          name: pg-cluster-keycloak-app
          key: username
    - name: KC_DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: pg-cluster-keycloak-app
          key: password
    - name: KC_HOSTNAME
      value: keycloak.polyops.fr
    - name: KC_HOSTNAME_STRICT
      value: "false"
    - name: KC_PROXY_HEADERS
      value: xforwarded
    - name: KC_HTTP_ENABLED
      value: "true"
    - name: KC_HEALTH_ENABLED
      value: "true"
    - name: KEYCLOAK_ADMIN
      value: admin
    - name: KEYCLOAK_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: keycloak
          key: admin-password
    - name: JAVA_OPTS_APPEND
      value: "-Djgroups.dns.query=keycloak-headless"
  
  ingress:
    enabled: false
  
  service:
    type: ClusterIP
    httpPort: 8080
  
  serviceHeadless:
    enabled: true
  
  resources:
    limits:
      memory: 2048Mi
    requests:
      memory: 1024Mi
  
  livenessProbe:
    httpGet:
      path: /health/live
      port: 8080
    initialDelaySeconds: 300
    timeoutSeconds: 5
  
  readinessProbe:
    httpGet:
      path: /health/ready
      port: 8080
    initialDelaySeconds: 30
    timeoutSeconds: 1
  
  postgresql:
    enabled: false
  
  extraVolumes: |
    - name: realm-ext-provider
      emptyDir: {}
  
  extraVolumeMounts: |
    - name: realm-ext-provider
      mountPath: /opt/keycloak/providers
  
  extraInitContainers: |
    - name: realm-ext-provider
      image: busybox:1.36
      imagePullPolicy: IfNotPresent
      command:
        - sh
      args:
        - -c
        - |
          echo "Skipping theme download for now"
          touch /providers/keycloak-theme-dsfr.jar
          touch /providers/keycloak-franceconnect.jar
      volumeMounts:
        - name: realm-ext-provider
          mountPath: /providers
