glexporter:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/component: prometheus-exporter
              app.kubernetes.io/instance: sandbox-dso-glexporter
              app.kubernetes.io/name: gitlab-ci-pipelines-exporter
          topologyKey: kubernetes.io/hostname
        weight: 100
  config:
    gitlab:
      token: docker.io
      url: https://docker.io/
    redis:
      url: redis://glexporter-redis-master.dso-gitlab.svc:6379
    wildcards:
    - {}
  fullnameOverride: glexporter
  image:
    repository: docker.io
      quay.io/mvisonneau/gitlab-ci-pipelines-exporter
  redis:
    fullnameOverride: glexporter-redis
    global:
      compatibility:
        openshift:
          adaptSecurityContext: force
      imageRegistry: docker.io
    image:
      repository: bitnamilegacy/redis
    master:
      podAntiAffinityPreset: soft
  serviceMonitor:
    enabled: true
    endpoints:
    - interval: 30s
      path: /metrics
      port: http
