cpn-ansible-job:
  cronJob:
    create: true
  global:
    platform: openshift
  job:
    annotations:
      argocd.argoproj.io/hook: Sync
    command:
    - /bin/sh
    - -c
    - 'git clone https://github.com/cloud-pi-native/socle.git && \

      cd socle && \

      ansible-playbook post-install/vault.yaml

      '
    extraEnvFrom:
    - secretRef:
        name: ansible-secret
    image:
      repository: ghcr.io/cloud-pi-native/git-ansible
      tag: '1'
vault:
  csi:
    agent:
      image:
        repository: docker.io/hashicorp/vault
    image:
      repository: docker.io/hashicorp/vault-csi-provider
  fullnameOverride: conf-dso-vault
  global:
    openshift: true
  injector:
    agentImage:
      repository: docker.io/hashicorp/vault
    image:
      repository: docker.io/hashicorp/vault-k8s
  server:
    auditStorage:
      enable: true
    dataStorage:
      enable: true
      size: 23Gi
    ha:
      apiAddr: https://vault.infra.polyops.fr
      enabled: true
      raft:
        enabled: true
      replicas: 1
    image:
      repository: docker.io/hashicorp/vault
    route:
      enabled: false
    standalone:
      enabled: false
