awx:
  AWX:
    enabled: true
    name: awx-operator
    postgres:
      dbName: awx
      enabled: true
      host: pg-cluster-awx-rw
      password: <path:dso-sandbox/data/env/conf-dso/apps/awx/values#auth | jsonPath
        {.adminPassword}>
      port: 5432
      sslmode: prefer
      type: unmanaged
      username: awx
    rbac:
      create: true
    spec:
      control_plane_ee_image: <path:dso-sandbox/data/env/conf-dso/apps/global/values#image
        | jsonPath {.repository.quay}>/ansible/awx-ee:24.6.1
      ee_images:
      - image: <path:dso-sandbox/data/env/conf-dso/apps/global/values#image | jsonPath
          {.repository.quay}>/ansible/awx-ee:24.6.1
        name: AWX EE (24.6.1)
      extra_settings:
      - setting: CSRF_TRUSTED_ORIGINS
        value: '["https://awx.example.com"]'
      image: <path:dso-sandbox/data/env/conf-dso/apps/global/values#image | jsonPath
        {.repository.quay}>/ansible/awx
      image_version: 24.6.1
      ingress_annotations: '- {''route.openshift.io/termination'': ''edge''}

        '
      ingress_class_name: <path:dso-sandbox/data/env/conf-dso/apps/global/values#ingressClassName>
      ingress_hosts:
      - hostname: <path:dso-sandbox/data/env/conf-dso/apps/global/values#domain |
          jsonPath {.awx}>
      ingress_type: ingress
      init_container_image: <path:dso-sandbox/data/env/conf-dso/apps/global/values#image
        | jsonPath {.repository.quay}>/ansible/awx-ee
      init_container_image_version: 24.6.1
      redis_image: <path:dso-sandbox/data/env/conf-dso/apps/global/values#image |
        jsonPath {.repository.quay}>/redis
      redis_image_version: '7'
      service_type: ClusterIP
cluster:
  cluster:
    enablePDB: false
    initdb:
      database: awx
      owner: awx
      secret:
        name: pg-cluster-awx-db
    monitoring:
      enabled: false
    postgresql:
      pg_hba:
      - host awx awx all md5
      - host awx streaming_replica all md5
    primaryUpdateMethod: restart
  fullnameOverride: pg-cluster-awx
  nameOverride: pg-cluster-awx
cpn-ansible-job:
  job:
    command:
    - /bin/sh
    - -c
    - 'git clone https://github.com/cloud-pi-native/socle.git && \

      cd socle && \

      ansible-playbook post-install/awx-oidc.yaml

      '
    image:
      repository: <path:dso-sandbox/data/env/conf-dso/apps/global/values#image | jsonPath
        {.repository.ghcr}>/cloud-pi-native/git-ansible
      tag: '1'
