cluster:
  cluster:
    enablePDB: false
    imageName: docker.io
      {.repository.ghcr}>/cloudnative-pg/postgresql:16.2
    initdb:
      database: sonardb
      owner: dso_admin
    monitoring:
      enabled: false
    postgresql:
      parameters:
        max_worker_processes: '60'
      pg_hba:
      - host sonardb dso_admin all md5
      - host sonardb streaming_replica all md5
    primaryUpdateMethod: restart
    storage:
      size: 10Gi
  fullnameOverride: pg-cluster-sonar
  nameOverride: pg-cluster-sonar
cpn-ansible-job:
  global:
    platform: openshift
  job:
    command:
    - /bin/sh
    - -c
    - 'git clone https://github.com/cloud-pi-native/socle.git && \

      cd socle && \

      ansible-playbook post-install/sonarqube.yaml

      '
    extraEnvFrom:
    - secretRef:
        name: ansible-secret
    image:
      repository: docker.io
        {.repository.ghcr}>/cloud-pi-native/git-ansible
      tag: '1'
sonarqube:
  OpenShift:
    enabled: true
  account:
    adminPasswordSecretName: sonarqube
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
    securityContext: {}
  adminJobAnnotations: {}
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/component: sonarqube-sonarqube
              app.kubernetes.io/instance: sandbox-dso-sonarqube
              app.kubernetes.io/name: sandbox-dso-sonarqube
          topologyKey: kubernetes.io/hostname
        weight: 100
  containerSecurityContext:
    runAsGroup: null
    runAsUser: null
  curlContainerImage: docker.io/curlimages/curl:8.11.0
  fullnameOverride: sonarqube-sonarqube
  image:
    pullPolicy: IfNotPresent
    repository: docker.io
      {.repository.docker}>/sonarqube
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 64m
      route.openshift.io/termination: edge
    enabled: true
    hosts:
    - name: docker.io
      path: /
      pathType: Prefix
    ingressClassName: traefik
    labels:
      app: sonar
  initContainers:
    securityContext:
      runAsGroup: null
      runAsUser: null
  initFs:
    enabled: false
  initSysctl:
    enabled: false
  jdbcOverwrite:
    enable: true
    jdbcSecretName: pg-cluster-sonar-app
    jdbcSecretPasswordKey: password
    jdbcUrl: jdbc:postgresql://pg-cluster-sonar-rw/sonardb?socketTimeout=1500
    jdbcUsername: dso_admin
  jvmCeOpts: -javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-1.23.0.jar=ce
  jvmOpts: -javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-1.23.0.jar=web
  monitoringPasscodeSecretKey: monitoring-password
  monitoringPasscodeSecretName: sonar-monitoring-password
  nameOverride: sonar
  plugins:
    install:
    - https://github.com/vaulttec/sonar-auth-oidc/releases/download/v2.1.1/sonar-auth-oidc-plugin-2.1.1.jar
    - https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/1.23.0/sonarqube-community-branch-plugin-1.23.0.jar
    - https://github.com/cnescatlab/sonar-cnes-report/releases/download/5.0.0/sonar-cnes-report-5.0.0.jar
  postgresql:
    enabled: false
  prometheusExporter:
    enabled: false
  prometheusMonitoring:
    podMonitor:
      enabled: false
  securityContext:
    fsGroup: null
  serviceAccount:
    create: true
  sonarProperties:
    sonar.auth.oidc.allowUsersToSignUp: 'true'
    sonar.auth.oidc.autoLogin: 'false'
    sonar.auth.oidc.clientId.secured: docker.io
    sonar.auth.oidc.clientSecret.secured: docker.io
    sonar.auth.oidc.enabled: 'true'
    sonar.auth.oidc.groupsSync: 'true'
    sonar.auth.oidc.groupsSync.claimName: groups
    sonar.auth.oidc.issuerUri: https://docker.io/realms/dso
    sonar.auth.oidc.loginStrategy: Email
    sonar.auth.oidc.loginStrategy.customClaim.name: upn
    sonar.auth.oidc.scopes: openid generic
    sonar.core.serverBaseURL: https://docker.io
    sonar.plugins.risk.consent: ACCEPTED
  sonarWebContext: /
  sonarqubeFolder: /opt/sonarqube
  terminationGracePeriodSeconds: 60
